*{
    box-sizing: border-box;
}
.container{
    margin: 200px auto;
    width: 300px;
    height: 300px;
    position: relative;
    
}
.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
}
.side{
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 34px;
    line-height: 100px;
    text-align: center;
    border: 5px solid black;
    transform-style: preserve-3d;
}
.float{
    transform: translateZ(150px);
}
.back{
    transform: rotateY(180deg) translateZ(150px) ;
}
.right{
    transform: rotateY(90deg) translateZ(150px);
}
.left{
    transform: rotateY(-90deg) translateZ(150px);
}
.top{
    transform: rotateX(90deg) translateZ(150px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(150px);
}