@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');



h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.paragraph1::first-line{
    word-spacing: 10px;
    text-decoration-line: underline;
    letter-spacing: -3px;
}
.paragraph2{
    text-indent: 30px;
    text-shadow: 5px 2px 4px blue;
}
.paragraph3{
    font-family: 'Comforter', cursive;
}